<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <th:block th:include="/include/bootstrap :: head"></th:block>
    <link th:href="@{/css/userLogin.css}" rel="stylesheet"/>
</head>
<body>
    <th:block th:replace="/include/bootstrap :: nav-login"></th:block>

    <div class="format">
        <div class=" container" >
            <form class="well form-signin" method="post" action="/isLogin">
                <h2 class="form-signin-heading">用户登录</h2>
                <div>
                    <label  class="sr-only">用户名 ：</label>
                    <input type="text" name="username" class="form-control" placeholder="请输入用户名" required autofocus />
                </div>
                <div>
                    <label  class="sr-only">密码 ：</label>
                    <input type="password"  class="form-control" name="psw" placeholder="请输入密码" required />
                </div>
                <div >
                    <span  class="control" th:text="${msg}"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" id="btn1" type="submit">登录</button>
                <div class="nav-divider">
                    <a>
                        <span>忘记密码</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>