<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.csht.mapper.SortMapper">


  <select id="findAllInfo" resultMap="SortResultMap">
    SELECT so.id,so.cName,count(se.sId) number FROM sort so LEFT JOIN sell se on  so.id= se.sortId group by so.id order by so.id
  </select>


  <resultMap type="com.java.csht.model.Sort" id="SortResultMap">
    <id property="id" column="id" />
    <result property="cname" column="cName" />
      <result property="number" column="number"/>
    <!-- association ：配置一对一属性 -->
    <!-- property:实体类中里面的 TCollege 属性名 -->
    <!-- javaType:属性类型 -->
    <collection property="sells" ofType="com.java.csht.model.Sell" >
      <!-- id:声明主键，表示 college_id 是关联查询对象的唯一标识-->
      <id property="sid" column="sId" />
      <result property="sname" column="sName" />
      <result property="sprice" column="sPrice" />
      <result property="ssellprice" column="sSellPrice" />
      <result property="cog" column="cog" />
      <result property="sdep" column="sDep" />
      <result property="smobile" column="sMobile" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, cName
  </sql>


</mapper>